@import '_variables.scss';

.main-wrap{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 0 1fr;
    .side-bar{
        background-color: var(--dark-blue);
        height: 100vh;
        ul.nav-menu{
            padding-left: 0;
            padding-top: 20px;
            li{
                border-bottom: 1px solid rgba(255,255,255,0.05);
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                list-style: none;
                &:first-child{
                    border-top: 1px solid rgba(255,255,255,0.05);
                }
                a.nav-link{
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 1.3;
                    text-decoration: none;
                    background: transparent;
                    outline: none!important;
                    transition: color .2s ease-in-out;
                    padding: 15px 20px 15px 0;
                    color:#9aadc2;
                    &:hover{
                        color: #fff;
                    }
                    i{
                        color: var(--verdecito);
                        margin: 0 10px 0 5px;
                        font-size: 1.4rem;
                    }
                }
            }
        }
        width: 100vw;
        position: fixed;
        top:0;
        left: -100%;
        z-index: 999;
        transition: all ease-in-out .3s;
        &.show{
            left: 0;
            transition: all ease-in-out .2s;
        }
        .close{
            .btn{
                background-color: var(--verdecito);
                border: solid 1px var(--verdecito);
                width: 150px;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 30px;
                margin: 0 auto;
                i{
                    margin: 0 10px 0 0;
                }
            }
        }
    }
    .main-content{
        .nav-mobile{
            display: grid;
            grid-template-columns: 1fr 80px;
            background-color: var(--dark-blue);
            padding: 10px 20px;
            img{
                width: 100%;
            }
            button{
                text-align: center;
                font-size: 1.8rem;
                color: #fff;
                padding: 15px;
            }
        }
        position: relative;
        z-index: 20;
        background-color: antiquewhite;
    }

}